<ion-view  >
  <ion-content has-tabs >
  <!-- <div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
  <i class="icon ion-heart"></i>
  
  <i class="icon ion-quote"></i>
  
</div> -->
  
  <div style="margin: auto;
    padding-top:20px;
    width: 50%;
    text-align: center;">
    <img ng-src="img/red.jpg" style="border-radius:50%;border: solid 5px gray;" on-tap="logOut();">
    <div ng-bind-html='matn'>toTrustedHTML(toTrustedHTML( matn ))</div>
    <div on-tap = "updateStatus();">status: {{currentStatus}}</div>
    <img ng-src="img/blue.jpg" style="border-radius:50%;border: solid 5px gray;" on-tap="logInNet();">
    <label class="toggle toggle-assertive">
  </div>  
  
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
  </label>

  </ion-content>
</ion-view>
