<ion-view view-title="صفحه اصلی">
  <ion-content has-tabs >
  <!-- <div class="tabs tabs-icon-only">
  <a class="tab-item">
    <i class="icon ion-home"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-star"></i>
  </a>
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
  </a>
  <i class="icon ion-heart"></i>
  
  <i class="icon ion-quote"></i>
  
</div> -->
  
    
  <img ng-src="../img/red.jpg" style="border-radius:50%;" on-tap="logOut();">
  <img ng-src="../img/blue.jpg" style="border-radius:50%;" on-tap="logInNet();">---
  <div ng-bind-html='matn'>toTrustedHTML(toTrustedHTML( matn ))</div>---
  <div on-tap = "updateStatus();">status: {{currentStatus}}</div>---
  <label class="toggle toggle-assertive">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
  </label>

  </ion-content>
</ion-view>
